In [24]:
import pandas as pd
import numpy as np
from causallearn.utils.cit import CIT

In [8]:
df_raw = pd.read_csv('Student Depression Dataset.csv')
df_raw['Family History of Mental Illness'] = df_raw['Family History of Mental Illness'].apply(lambda x: 1 if x=='Yes' else 0)
df_raw['Have you ever had suicidal thoughts ?'] = df_raw['Have you ever had suicidal thoughts ?'].apply(lambda x: 1 if x=='Yes' else 0)
df_raw.drop(df_raw[df_raw.isnull()['Financial Stress']].index, axis=0, inplace=True)
df_raw.head(2)

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,2,Male,33.0,Visakhapatnam,Student,5.0,0.0,8.97,2.0,0.0,5-6 hours,Healthy,B.Pharm,1,3.0,1.0,0,1
1,8,Female,24.0,Bangalore,Student,2.0,0.0,5.90,5.0,0.0,5-6 hours,Moderate,BSc,0,3.0,2.0,1,0

In [ ]:
df_raw = df_raw.iloc[:5000]
df_kci = df_raw.drop(["Gender", 'City', "Profession", 'Degree', 'id'], axis=1)
df_kci = pd.get_dummies(df_kci, columns=['Dietary Habits', 'Sleep Duration'])
df_kci.columns

'Financial Stress'

In [62]:
df_kci = df_raw.drop(["Gender", 'City', "Profession", 'Degree', 'id'], axis=1)
df_kci = pd.get_dummies(df_kci, columns=['Dietary Habits', 'Sleep Duration'])
df_kci = df_kci.to_numpy()
#df_kci = pd.to_numeric(df_kci, errors='coerce')

kci_obj = CIT(df_kci, "kci")
X = 0
Y = 2
S = [8]
pValue = kci_obj(X, Y, S)
pValue

0.3170326040817356

In [ ]:
for c in df_raw.columns:
    test = df_raw[c].apply(lambda x: 1 if x == np.nan else 0)
    print(sum(test))