In [19]:
import pandas as pd
import numpy as np
import folium
from folium.plugins import HeatMap
from geopy.geocoders import Nominatim
import time
import plotly.express as px

In [20]:
df = pd.read_csv("Student Depression Dataset.csv")
# Drop rows with missing coordinates
df.dropna(inplace=True)

In [21]:
# online data
city_coords = {
    "Kalyan": [19.2403, 73.1305],
    "Srinagar": [34.0837, 74.7973],
    "Hyderabad": [17.3871, 78.4917],
    "Vasai-Virar": [19.3919, 72.8397],
    "Ludhiana": [30.9010, 75.8573],
    "Thane": [19.2183, 72.9781],
    "Kolkata": [22.5726, 88.3639],
    "Lucknow": [26.8467, 80.9462],
    "Agra": [27.1767, 78.0081],
    "Jaipur": [26.9124, 75.7873],
    "Patna": [25.5941, 85.1376],
    "Surat": [21.1702, 72.8311],
    "Bhopal": [23.2599, 77.4126],
    "Pune": [18.5204, 73.8567],
    "Visakhapatnam": [17.6868, 83.2185],
    "Ahmedabad": [23.0225, 72.5714],
    "Chennai": [13.0827, 80.2707],
    "Ghaziabad": [28.6692, 77.4538],
    "Meerut": [28.9845, 77.7064],
    "Mumbai": [19.0760, 72.8777],
    "Rajkot": [22.3039, 70.8022],
    "Bangalore": [12.9716, 77.5946],
    "Delhi": [28.7041, 77.1025],
    "Vadodara": [22.3072, 73.1812],
    "Varanasi": [25.3176, 82.9739],
    "Nagpur": [21.1458, 79.0882],
    "Indore": [22.7196, 75.8577],
    "Kanpur": [26.4499, 80.3319],
    "Nashik": [19.9975, 73.7898],
    "Faridabad": [28.4089, 77.3178]
}

In [22]:
# Map city names to coordinates
df['Coordinates'] = df['City'].map(city_coords)

# Group by 'City' and calculate total and depressed counts
grouped = df.groupby('City')['Depression'].agg(
    Total_Count='size',
    Depressed_Count='sum'
).reset_index()

# Calculate depression percentage
grouped['Depression_Percentage'] = (grouped['Depressed_Count'] / grouped['Total_Count']) * 100


# Normalize Depression_Percentage to a 0-1 scale
grouped['Normalized_Depression'] = grouped['Depression_Percentage'] / 100

# Create a folium map centered around India
m = folium.Map(location=[20.5937, 78.9629], zoom_start=5)

# Prepare heatmap data
heat_data = [[coord[0], coord[1], weight] for coord, weight in zip(df['Coordinates'], grouped['Normalized_Depression'])]

# Add HeatMap layer
HeatMap(heat_data, radius=15, blur=10, max_zoom=1).add_to(m)

# Save the map to an HTML file
m.save("depression_heatmap.html")

# Display the map in a Jupyter Notebook (optional)
m

In [23]:
grouped

,City,Total_Count,Depressed_Count,Depression_Percentage,Normalized_Depression
0,3.0,1,1,100.000000,1.000000
1,Agra,1094,585,53.473492,0.534735
2,Ahmedabad,951,640,67.297581,0.672976
3,Bangalore,767,467,60.886571,0.608866
4,Bhavna,2,2,100.000000,1.000000
5,Bhopal,934,579,61.991435,0.619914
6,Chennai,885,528,59.661017,0.596610
7,City,2,1,50.000000,0.500000
8,Delhi,768,468,60.937500,0.609375
9,Faridabad,461,271,58.785249,0.587852
10,Gaurav,1,1,100.000000,1.000000
11,Ghaziabad,745,428,57.449664,0.574497
12,Harsh,1,1,100.000000,1.000000
13,Harsha,2,1,50.000000,0.500000
14,Hyderabad,1339,897,66.990291,0.669903
15,Indore,643,389,60.497667,0.604977
16,Jaipur,1036,543,52.413127,0.524131
17,Kalyan,1570,934,59.490446,0.594904
18,Kanpur,609,330,54.187192,0.541872
19,Khaziabad,1,1,100.000000,1.000000
20,Kibara,1,0,0.000000,0.000000
21,Kolkata,1065,649,60.938967,0.609390
22,Less Delhi,1,0,0.000000,0.000000
23,Less than 5 Kalyan,1,0,0.000000,0.000000
24,Lucknow,1155,641,55.497835,0.554978
25,Ludhiana,1111,647,58.235824,0.582358
26,M.Com,1,1,100.000000,1.000000
27,M.Tech,1,0,0.000000,0.000000
28,ME,1,0,0.000000,0.000000
29,Meerut,825,493,59.757576,0.597576
30,Mihir,1,1,100.000000,1.000000
31,Mira,1,1,100.000000,1.000000
32,Mumbai,699,386,55.221745,0.552217
33,Nagpur,651,363,55.760369,0.557604
34,Nalini,1,1,100.000000,1.000000
35,Nalyan,1,0,0.000000,0.000000
36,Nandini,1,0,0.000000,0.000000
37,Nashik,547,289,52.833638,0.528336
38,Patna,1007,636,63.157895,0.631579
39,Pune,968,541,55.888430,0.558884
40,Rajkot,816,511,62.622549,0.626225
41,Rashi,1,0,0.000000,0.000000
42,Reyansh,1,0,0.000000,0.000000
43,Saanvi,2,2,100.000000,1.000000
44,Srinagar,1372,763,55.612245,0.556122
45,Surat,1078,625,57.977737,0.579777
46,Thane,1139,673,59.086918,0.590869
47,Vaanya,1,1,100.000000,1.000000
48,Vadodara,694,390,56.195965,0.561960
49,Varanasi,684,363,53.070175,0.530702
50,Vasai-Virar,1290,739,57.286822,0.572868
51,Visakhapatnam,969,552,56.965944,0.569659

- The cities selected by our LASSO: [Bhavna, Kibara, ME, Mira, Nalyan, Nandini, Saanvi, Vaanya]
- The cities that are selected by LASSO are all cities with only one entry of them, meaning they will not generalize
- The brightest city/areas are Kalyan, Meerut + Ghaziabad

In [24]:
df

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression,Coordinates
0,2,Male,33.0,Visakhapatnam,Student,5.0,0.0,8.97,2.0,0.0,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1,"[17.6868, 83.2185]"
1,8,Female,24.0,Bangalore,Student,2.0,0.0,5.90,5.0,0.0,5-6 hours,Moderate,BSc,No,3.0,2.0,Yes,0,"[12.9716, 77.5946]"
2,26,Male,31.0,Srinagar,Student,3.0,0.0,7.03,5.0,0.0,Less than 5 hours,Healthy,BA,No,9.0,1.0,Yes,0,"[34.0837, 74.7973]"
3,30,Female,28.0,Varanasi,Student,3.0,0.0,5.59,2.0,0.0,7-8 hours,Moderate,BCA,Yes,4.0,5.0,Yes,1,"[25.3176, 82.9739]"
4,32,Female,25.0,Jaipur,Student,4.0,0.0,8.13,3.0,0.0,5-6 hours,Moderate,M.Tech,Yes,1.0,1.0,No,0,"[26.9124, 75.7873]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27896,140685,Female,27.0,Surat,Student,5.0,0.0,5.75,5.0,0.0,5-6 hours,Unhealthy,Class 12,Yes,7.0,1.0,Yes,0,"[21.1702, 72.8311]"
27897,140686,Male,27.0,Ludhiana,Student,2.0,0.0,9.40,3.0,0.0,Less than 5 hours,Healthy,MSc,No,0.0,3.0,Yes,0,"[30.901, 75.8573]"
27898,140689,Male,31.0,Faridabad,Student,3.0,0.0,6.61,4.0,0.0,5-6 hours,Unhealthy,MD,No,12.0,2.0,No,0,"[28.4089, 77.3178]"
27899,140690,Female,18.0,Ludhiana,Student,5.0,0.0,6.88,2.0,0.0,Less than 5 hours,Healthy,Class 12,Yes,10.0,5.0,No,1,"[30.901, 75.8573]"
27900,140699,Male,27.0,Patna,Student,4.0,0.0,9.24,1.0,0.0,Less than 5 hours,Healthy,BCA,Yes,2.0,3.0,Yes,1,"[25.5941, 85.1376]"

In [25]:
df["Profession"].value_counts()

Student                   27867
Architect                     8
Teacher                       6
Digital Marketer              3
Content Writer                2
Chef                          2
Doctor                        2
Pharmacist                    2
Civil Engineer                1
UX/UI Designer                1
Educational Consultant        1
Manager                       1
Lawyer                        1
Entrepreneur                  1
Name: Profession, dtype: int64

In [26]:
df[df["Profession"] != "Student"]

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression,Coordinates
113,609,Male,21.0,Ahmedabad,Civil Engineer,5.0,0.0,7.83,1.0,0.0,5-6 hours,Healthy,MSc,Yes,11.0,3.0,Yes,1,"[23.0225, 72.5714]"
422,2105,Female,31.0,Vadodara,Architect,5.0,0.0,6.95,3.0,0.0,Less than 5 hours,Moderate,BSc,No,8.0,1.0,Yes,1,"[22.3072, 73.1812]"
1845,9483,Female,32.0,Kalyan,UX/UI Designer,3.0,0.0,9.60,2.0,0.0,7-8 hours,Moderate,PhD,Yes,5.0,3.0,No,1,"[19.2403, 73.1305]"
2249,11470,Female,28.0,Ahmedabad,Digital Marketer,5.0,0.0,9.72,3.0,0.0,More than 8 hours,Healthy,MA,Yes,10.0,5.0,Yes,1,"[23.0225, 72.5714]"
2440,12425,Male,25.0,Kalyan,Content Writer,5.0,0.0,8.50,2.0,0.0,5-6 hours,Moderate,B.Ed,Yes,0.0,2.0,Yes,1,"[19.2403, 73.1305]"
3220,16196,Male,33.0,Jaipur,Architect,2.0,0.0,7.13,4.0,0.0,More than 8 hours,Moderate,MSc,No,2.0,5.0,Yes,1,"[26.9124, 75.7873]"
3388,16959,Female,24.0,Mumbai,Architect,3.0,0.0,8.89,5.0,0.0,More than 8 hours,Unhealthy,MSc,Yes,3.0,5.0,Yes,1,"[19.076, 72.8777]"
3639,18291,Male,32.0,Agra,Educational Consultant,3.0,0.0,5.74,4.0,0.0,7-8 hours,Healthy,B.Ed,Yes,3.0,5.0,Yes,1,"[27.1767, 78.0081]"
3841,19226,Male,31.0,Rajkot,Teacher,3.0,0.0,7.48,5.0,0.0,5-6 hours,Unhealthy,MD,Yes,12.0,2.0,Yes,1,"[22.3039, 70.8022]"
5016,25193,Male,24.0,Kalyan,Teacher,4.0,0.0,9.66,5.0,0.0,7-8 hours,Moderate,BE,Yes,12.0,3.0,No,1,"[19.2403, 73.1305]"
8537,43035,Male,23.0,Patna,Manager,3.0,0.0,8.62,2.0,0.0,More than 8 hours,Healthy,BHM,No,9.0,5.0,No,1,"[25.5941, 85.1376]"
12124,61219,Female,23.0,Kalyan,Chef,3.0,0.0,9.91,4.0,0.0,7-8 hours,Healthy,BHM,Yes,10.0,3.0,No,1,"[19.2403, 73.1305]"
12350,62410,Female,34.0,Ghaziabad,Content Writer,5.0,0.0,6.83,4.0,0.0,7-8 hours,Moderate,MA,Yes,5.0,5.0,No,1,"[28.6692, 77.4538]"
14352,72541,Female,28.0,Hyderabad,Architect,3.0,0.0,6.99,3.0,0.0,5-6 hours,Moderate,BSc,Yes,10.0,5.0,Yes,1,"[17.3871, 78.4917]"
15472,78083,Male,32.0,Meerut,Doctor,5.0,0.0,9.70,3.0,0.0,Less than 5 hours,Healthy,M.Pharm,Yes,3.0,4.0,No,1,"[28.9845, 77.7064]"
16108,81442,Male,23.0,Kanpur,Lawyer,4.0,0.0,6.88,1.0,0.0,More than 8 hours,Unhealthy,LLM,Yes,2.0,4.0,No,1,"[26.4499, 80.3319]"
17550,88879,Female,29.0,Agra,Chef,2.0,0.0,6.86,3.0,0.0,7-8 hours,Moderate,BHM,Yes,12.0,4.0,Yes,1,"[27.1767, 78.0081]"
17585,89052,Female,29.0,Meerut,Doctor,3.0,0.0,6.35,3.0,0.0,Less than 5 hours,Healthy,MD,No,12.0,1.0,No,1,"[28.9845, 77.7064]"
18213,92226,Male,26.0,Bhopal,Architect,4.0,0.0,7.28,3.0,0.0,More than 8 hours,Healthy,BSc,No,12.0,4.0,Yes,0,"[23.2599, 77.4126]"
20568,104123,Male,28.0,Ludhiana,Digital Marketer,1.0,0.0,9.41,5.0,0.0,5-6 hours,Healthy,BA,Yes,5.0,3.0,Yes,0,"[30.901, 75.8573]"
20801,105237,Female,21.0,Chennai,Entrepreneur,3.0,0.0,8.17,5.0,0.0,Less than 5 hours,Moderate,MCA,Yes,4.0,3.0,No,1,"[13.0827, 80.2707]"
20872,105595,Male,28.0,Jaipur,Teacher,3.0,0.0,5.82,4.0,0.0,5-6 hours,Moderate,MD,Yes,5.0,1.0,No,0,"[26.9124, 75.7873]"
22178,111939,Male,24.0,Bangalore,Architect,5.0,0.0,7.09,4.0,0.0,Less than 5 hours,Unhealthy,BBA,Yes,1.0,3.0,Yes,1,"[12.9716, 77.5946]"
24121,121474,Male,27.0,Kalyan,Teacher,3.0,0.0,5.89,3.0,0.0,Less than 5 hours,Unhealthy,MSc,Yes,2.0,5.0,No,1,"[19.2403, 73.1305]"
24482,123259,Male,23.0,Kanpur,Teacher,3.0,0.0,5.59,1.0,0.0,More than 8 hours,Healthy,BCA,Yes,11.0,4.0,Yes,1,"[26.4499, 80.3319]"
25219,127070,Male,32.0,Meerut,Pharmacist,4.0,0.0,8.54,1.0,0.0,7-8 hours,Unhealthy,MBBS,Yes,2.0,5.0,Yes,1,"[28.9845, 77.7064]"
25335,127637,Female,25.0,Delhi,Architect,5.0,0.0,8.98,3.0,0.0,More than 8 hours,Healthy,B.Arch,Yes,5.0,5.0,No,1,"[28.7041, 77.1025]"
25689,129499,Female,21.0,Kalyan,Digital Marketer,5.0,0.0,6.91,4.0,0.0,Less than 5 hours,Moderate,M.Com,No,10.0,5.0,No,1,"[19.2403, 73.1305]"
26289,132550,Male,25.0,Visakhapatnam,Teacher,5.0,0.0,7.25,1.0,0.0,7-8 hours,Unhealthy,B.Ed,Yes,1.0,1.0,Yes,1,"[17.6868, 83.2185]"
27109,136642,Male,29.0,Ludhiana,Pharmacist,4.0,0.0,5.77,4.0,0.0,More than 8 hours,Healthy,B.Pharm,Yes,4.0,2.0,No,1,"[30.901, 75.8573]"
27873,140522,Female,22.0,Vasai-Virar,Architect,3.0,0.0,9.13,4.0,0.0,7-8 hours,Unhealthy,MCA,Yes,4.0,1.0,Yes,1,"[19.3919, 72.8397]"